@import url('https://fonts.googleapis.com/css?family=Muli:800|Lato:300,300i|Amatic+SC:700');
body{
    padding:0;margin:0;
    --secondhighlightcolor: rgb(180,230, 220);
    --firsthighlightcolor: #3F69AA;
    --secondhighlightcolor: #B8B8B8;
    
    --headercol: #032D6E;
    --textcol: rgb(20, 20, 20);
    --deemphasizetextcol: rgb(150, 150, 150);
    
    --mainbgcol: rgb(250, 250, 250);
    --emphasisbgcol: rgb(250, 250, 250);
    
    --error: #ff0033;
    
    padding-bottom: 5%;
    background-color: var(--mainbgcol);
}

body *{
    color: var(--textcol);
}

body *::selection {
    background: var(--firsthighlightcolor);
    color: var(--emphasisbgcol);
}

body *::-moz-selection {
    background: var(--firsthighlightcolor);
    color: var(--emphasisbgcol);
}

.article{
    padding-top: 5%;
}


#mainBulk{
    padding-left: 2%;
    padding-right: 2%;
    margin:0 auto;
    max-width:800px;
    background: var(--mainbgcol);
    z-index: 100;
}

h1, h2, h3, h4{
    font-family: 'Muli';
    font-weight: 800;
    color: var(--headercol);
}

h1{
    font-size: 4em;
}

p{
    font-size: 1.1em;
    line-height: 120%;
    font-family: 'Lato';
    color: var(--textcol);
}
hr{
    border: 0;
    width: 80%;
    height: 1vw;
    background-color: var(--firsthighlightcolor);
    margin: 0;
}

#imageBlock img{
    height: auto;
    width: 100%;
    border-radius: 2%;
}

#imageBlock{
    font-style: italic;
    padding: 2vh 0 2vh 0;
}

#imageBlock p{
    color: var(--deemphasizetextcol);
    margin-left: 2%;
}

a{
    color: var(--textcol);
    text-decoration: none;
    border-bottom: .5vh solid var(--firsthighlightcolor);
    transition: 0.3s;
}


a:hover{
    transition: 0.1s;
    color: var(--emphasisbgcol);
    background-color: var(--firsthighlightcolor);
    border-bottom: .5vh solid var(--firsthighlightcolor);
}

#navbar{
    background-color: var(--firsthighlightcolor);
    color: var(--mainbgcol);
    border-radius: 0 0 2vh 0;
}

#navbar:hover{
    color: var(--headercol);
}


@media only screen and (min-width: 400px){
    #navbar{
        padding: 1% 5% 1% 1%;
        margin:0;
        position: fixed;
        top: 0;left:0;
    }
}

@media only screen and (max-width: 400px){
    #navbar{
        padding: 5% 5% 5% 1%;
        padding-left: 10%;
        margin:0;
        position: fixed;
        top: 0;left:0;
        width: 94%;
    }
    
    h1{
    font-size: 2em;
    }
}

@media only screen and (max-width: 800px){
    
    h1{
    font-size: 3em;
    }
}
