:root {
    --primaryBg: rgb(240,240,240);
    --primaryText: grey;
    --emphasisText1: dimgrey;
    --emphasisText2: rgb(50,50,50);
    --firstColor: rgb(265, 165,0);
}

body{   
    color: var(--primaryText);
    background-color: var(--primaryBg);
}

p {
    font-size: 1em;
}

#mainTitle {
    font-size: 1.5em;
    color: var(--emphasisText1);
}


#mainBulk {
    margin:40px auto;
    max-width:1000px;
}

#header {
    font-size: 1em;
    text-align: center;
    color: var(--firstColor);
}



#footer {
    font-size: 0.75vmax;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

#task {
    padding: 0.5% 0.5% 1% 1%;
    background-color: rgba(265,165,0,0.5);
}


 #next {
    background-color: var(--firstColor); /* Green */
    border: none;
    color: var(--primaryBg);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
     transition: 0.3s;
}


 #next:hover {
    background-color: var(--primaryBg); /* Green */
    color: var(--firstColor);
     transition: 0.15s;
}